@model FilmsCatalog.Models.ViewModels.FilmViewModel

@{
    ViewBag.Title = "Подробно";
}

<h2>Подробно</h2>

<div>
    <h4>Подробная информация о фильме</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Caption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poster)
        </dt>

        <dd>
            <div class="div-poster-max">
                @*@Html.DisplayFor(model => model.Poster)*@
                <img src="@Url.Content("~/UploadFiles/" + Model.Poster)"
                     alt="@Url.Content(Model.Caption)"
                     title="@Url.Content(Model.Caption)"
                     class="img-poster-max" />
            </div>
        </dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Редактировать", "Update", new { id = Model.Id }) |*@
    @Html.ActionLink("На главную", "Index")
</p>
